.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  margin: 0 auto;
  width: 1200px;
}
.grid3 div {
  display: grid;
  height: 400px;
  width: 600px;
  border-radius: 40px;
  transition: 1s ease;
}
.grid3 div a {
  text-decoration: none;
}
.grid3 div h2 {
  color: rgb(22, 20, 20);
  margin-top: 50px;
  margin-left: 50px;
}
.grid3 div:nth-child(1) {
  grid-area: 1/1/2/2;
  background-image: url(/Image/taiin\ sath.jpg);
  background-size: 100% 100%;
  width: 100%;
  height: 400px;
}
.grid3 div:nth-child(1):hover {
  opacity: 0.8;
  width: 590px;
  height: 390px;
  border-radius: 200px;
}
.grid3 div:nth-child(2) {
  grid-area: 1/2/2/3;
  background-image: url(/Image/mard\ sabz.jpg);
  background-size: 100% 100%;
  width: 100%;
  height: 400px;
}
.grid3 div:nth-child(2):hover {
  opacity: 0.8;
  width: 590px;
  height: 390px;
  border-radius: 200px;
}
.grid3 div:nth-child(3) {
  grid-area: 2/1/3/2;
  background-image: url(/Image/istockphoto-1333547908-612x612.jpg);
  background-size: 100% 100%;
  width: 100%;
  height: 400px;
}
.grid3 div:nth-child(3):hover {
  opacity: 0.8;
  width: 590px;
  height: 390px;
  border-radius: 200px;
}
.grid3 div:nth-child(4) {
  grid-area: 2/2/3/3;
  background-image: url(/Image/anmel1.jpg);
  background-size: 100% 100%;
  width: 100%;
  height: 400px;
}
.grid3 div:nth-child(4):hover {
  opacity: 0.8;
  width: 590px;
  height: 390px;
  border-radius: 200px;
}

.nav-item {
  padding: 10px;
  margin-left: 100px;
}

.row10-1 {
  display: flex;
  width: 800px;
  height: 900px;
  background-image: url(/Image/mard\ sabz.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.row11-1 {
  display: flex;
  width: 700px;
  height: 700px;
  background-color: rgb(165, 174, 150);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.listgroup-4 {
  width: 800px;
  margin: 0 auto;
}

.bi-emoji-wink {
  margin-top: 10px;
  -webkit-animation: spring 3s infinite linear;
          animation: spring 3s infinite linear;
}

@-webkit-keyframes spring {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes spring {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
@media only screen and (max-width: 375px) {
  .grid3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 300px;
  }
  .grid3 div:nth-child(1) {
    grid-area: 1/1/2/2;
    background-image: url(/Image/taiin\ sath.jpg);
  }
  .grid3 div:nth-child(2) {
    grid-area: 2/1/3/2;
    background-image: url(/Image/mard\ sabz.jpg);
  }
  .grid3 div:nth-child(3) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-area: 3/1/4/2;
    background-image: url(/Image/istockphoto-1333547908-612x612.jpg);
  }
  .grid3 div:nth-child(4) {
    grid-area: 4/1/5/2;
    background-image: url(/Image/anmel1.jpg);
  }
}
@media only screen and (max-width: 375px) {
  .carousel-image {
    width: 300px;
    height: 200px;
  }
}
h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.footer {
  background-color: rgb(137, 161, 153);
  text-align: center;
  padding: 20px;
}

.lh-base {
  padding-left: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.kontakt-12 {
  margin: 0 auto;
  width: 1200px;
  height: 700px;
  border: 2px solid rgb(51, 84, 51);
  background-color: rgb(249, 186, 77);
  border-radius: 20px;
}/*# sourceMappingURL=layout.css.map */